<tr class="task-row" data-task-id="<%= task.id %>">
  <td>
    <% if task.date_completed.present? %>
      <input type="checkbox" class="completed-checkbox form-check-input" id="task-<%#= task.id %>" data-task-id="<%#= task.id %>" checked/>
    <% else %>
      <input type="checkbox" class="completed-checkbox form-check-input" id="task-<%#= task.id %>" data-task-id="<%#= task.id %>" />
    <% end %>
  </td>
  <td>
    <%= task.name %>
  </td>
  <td>
    <%= task.deadline.strftime("%B %d, %Y %I:%M %p") %>
  </td>
  <td class="text-end">
    <!-- Edit Task Link -->
    <%= link_to "#{'<i class="fa fa-pencil me-2"></i>'.html_safe}".html_safe, edit_task_path(task.id) %>
    <%= form_with(model: @task, local: true, method: :delete, url: task_path(task.id), html: { class: "inline-form" }) do |f| %>
      <%= button_tag type: :submit, class: "invisible-btn", data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    <% end %>
  </td>
</tr>