<content>
  <h1>Add Task</h1>
  <%= form_with(model: @task) do |form| %>
    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :deadline %>
      <%= form.datetime_local_field :deadline, min: Date.today, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :date_completed %>
      <%= form.date_field :date_completed, max: Date.today, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit "Save Changes", class: 'task-btn' %>
    </div>
  <% end %>
</content>

